input[type="radio"]:checked+label{
  font-weight: bold;
  background-color:gainsboro;
}

div.rendered_html {
  width: 80%
}
div#save_wrapper {
  margin-top: -5px;
  display:inline-block;
  position:relative;
  top:5px;
}

table.linesEditor th {
  text-align:left;
}
tr.line_header {
  border: none;
}
fieldset#composition_info {
}

textarea.parse_failed {
  border-color:red;
  border-width:2px;
}
div.open_file_div {
  border: 2px solid black;
}
