.liveExample
  %p
    Locally saved compositions:
    %select{"data-bind" => "options: available_compositions, optionsText: 'title', value: selected_composition, optionsCaption: 'Open',click: composition_select"}
      %option{:value => ""} Open
      %option{:value => ""}
    %button{"data-bind" => "click: save_locally, enable: lines().length > 0"} Save locally
    %button{"data-bind" => "click: new_composition"}
      New
    %button{"data-bind" => "click: generate_staff_notation"}
      Generate staff notation
  %fieldset#composition_info
    %legend#composition_info_legend{"data-bind" => "click: toggle_composition_info_visible"}
      Composition Info(Click to hide/show)
    #composition_info_content{"data-bind" => "visible: composition_info_visible", :style => ""}
      %p
        Raga:
        %input{"data-bind" => "value: raga"}/
      %p
        Key:
        %select{"data-bind" => "options: keys, value: key"}
      %p
        Mode:
        %select{"data-bind" => "options: modes, value: mode"}
      %p
        Title:
        %input{"data-bind" => "value: title"}/
      %p
        Author:
        %input{"data-bind" => "value: author"}/
      %p
        Source:
        %input{"data-bind" => "value: source"}/
      %p
        Time Signature:
        %input{"data-bind" => "value: time_signature"}/
      %p
        ID#:
        %span{"data-bind" => "text: id"} 
      %p
        %button{"data-bind" => "css: {button_on:doremi_script_source_visible},click: toggle_doremi_script_source_visible"} 
          DoremiScript Source
        %button{"data-bind" => "visible: doremi_script_source_visible,click: refresh_doremi_script_source"} 
          Refresh
        %div.doremi_script_source_div{"data-bind" => "text: doremi_script_source,visible: doremi_script_source_visible"}
          %pre{"data-bind" => "text: doremi_script_source,event:{dblclick:toggle_doremi_script_source_visible}"}
      %p
        %button{"data-bind" => "css: {button_on:composition_lilypond_source_visible},click: toggle_composition_lilypond_source_visible"} 
          Lilypond source
        %button{"data-bind" => "visible: composition_lilypond_source_visible,click: refresh_composition_lilypond_source"} 
          Refresh 
        %div.composition_lilypond_source_div{"data-bind" => "visible: composition_lilypond_source_visible"}
          %pre{"data-bind" => "text: composition_lilypond_source,event:{dblclick:toggle_composition_lilypond_source_visible}"}
  %br
  .composition
    %div.composition_controls
      %button{"data-bind" => "css: {button_on:staff_notation_visible},click: toggle_staff_notation_visible"} 
        Show Staff Notation
    %div.staff_notation_div{"data-bind" => "visible: staff_notation_visible"}
      Staff notation here 
      %img.staff_notation{"data-bind" => "attr: {src:staff_notation_url}"}
    %br
    %br
    .composition_body{"data-bind" => "foreach: lines"}
      %div.line_wrapper{"tabindex" => "0", "data-bind" => "attr: { id: line_wrapper_id()},click: line_wrapper_click "}
        %div.rendered_html{"data-bind" => "visible: !editing(),html: rendered_in_html, click: edit,clickBubble:false"}
        %div.edit_line_wrapper{"data-bind"=> "visible:editing"}
          %button{"data-bind" => "css: {button_on:parse_tree_visible},click: toggle_parse_tree_visible"} 
            Show/Hide Parse Tree
          %button{"data-bind" => "click: close_edit,clickBubble:false"} 
            Close
          %br
          %div.parse_tree_div{"data-bind" => "visible: parse_tree_visible"}
            %pre{"data-bind" => "text: parse_tree_text,event:{dblclick:toggle_parse_tree_visible}"}
          %textarea.entry_area{:cols => "33", "data-bind" => "style: {height:stave_height,width: stave_width},css: {'parse_failed': $data.parse_failed},visible: editing(), value: source, event: { keypress: handle_key_press, blur: handle_blur}, valueUpdate: 'afterkeydown'", :rows => "3"}
  %br
  %br
  %button{"data-bind" => "click: add_line"} New Line
