.liveExample
  %div.controls
    %button{"data-bind" => "click: toggle_composition_select_visible"}
      Open locally saved 
    %select{"size" => "4", "data-bind" => "visible: composition_select_visible, options: compositions_in_local_storage, optionsText: 'title', value: selected_composition,click: composition_select"}
    %button{"data-bind" => "click: save_locally, enable: saveable"} 
      Save locally
    %button{"data-bind" => "click: new_composition"}
      New Composition
    %button{"data-bind" => "click: print_composition"}
      Print 
    %button{"data-bind" => "css: {button_on:open_file_visible},click: toggle_open_file_visible"} 
      Open File     
    %div.open_file_div{"data-bind" => 'visible:open_file_visible'}
      %label Open:
      %input#file{:name => "files[]", :type => "file"}
    %a{"href" => 'http://github.com/rothfield/doremi-script-gui'}
      Documentation/github home page
  %fieldset.controls#composition_info
    %legend#composition_info_legend{"data-bind" => "click: toggle_composition_info_visible"}
      %span{"data-bind" => "text: title"}
      (Click to hide/show composition info such as title and key)
    #composition_info_content{"data-bind" => "visible: composition_info_visible", :style => ""}
      %p
        %label
          Title:
        %input#composition_title{"data-bind" => "valueUpdate: 'afterkeydown',value: title"}/
        %span.required
          Required
      %p
        %label
          Author:
        %input{"data-bind" => "value: author, valueUpdate: 'afterkeydown'"}/
      %p
        %label
          Key:
        %select{"data-bind" => "options: keys, value: key"}
      %p
        %label
          Mode:
        %select{"data-bind" => "options: modes, value: mode"}
      %p
        %label
          Time Signature:
        %input{"data-bind" => "value: time_signature,valueUpdate: 'afterkeydown'"}/
      %p
        %label
          Source:
        %input{"data-bind" => "value: source,valueUpdate: 'afterkeydown'"}/
      %p
        %label
          Raga:
        %input{"data-bind" => "value: raga,valueUpdate: 'afterkeydown'"}/
      %p
        %label
          Apply Hyphenated Lyrics:
        %input{"type" => "checkbox", "data-bind" => "checked: apply_hyphenated_lyrics"}
      %p
        %label
          ID#:
        %span{"data-bind" => "text: id"} 
      %div
        %button{"data-bind" => "css: {button_on:doremi_source_visible},click: toggle_doremi_source_visible"} 
          DoremiScript Source
        %div.doremi_source_div.like_pre{"data-bind" => "text:doremi_source,visible: doremi_source_visible,event:{dblclick:toggle_doremi_source_visible}, css: {composition_parse_failed: composition_parse_failed}"}
      %div
        %button{"data-bind" => "css: {button_on:parsed_doremi_script_visible},click: toggle_parsed_doremi_script_visible"} 
          Parsed DoremiScript
        %div.parsed_doremi_script_div.like_pre{"data-bind" => "text: composition_parsed_doremi_script,visible: parsed_doremi_script_visible,event:{dblclick:toggle_parsed_doremi_script_visible}"}
      %div
        %button{"data-bind" => "css: {button_on:composition_lilypond_source_visible},click: toggle_composition_lilypond_source_visible"} 
          Lilypond source
        %div.composition_lilypond_source_div.like_pre{"data-bind" => "visible: composition_lilypond_source_visible,text: composition_lilypond_source,event:{dblclick:toggle_composition_lilypond_source_visible}"}
      %div
        %button{"data-bind" => "css: {button_on:composition_musicxml_source_visible},click: toggle_composition_musicxml_source_visible"} 
          MusicXML Source 
        %div.composition_musicxml_source_div.like_pre{"data-bind" => "visible: composition_musicxml_source_visible,text: composition_musicxml_source,event:{dblclick:toggle_composition_musicxml_source_visible}"}
  %br
  .composition
    %div.controls
      %div.composition_controls
        %button{"data-bind" => "disable: disable_generate_staff_notation,click: generate_staff_notation"}
          Generate staff notation
        %button{"data-bind" => "css: {button_on:staff_notation_visible},click: toggle_staff_notation_visible"} 
          Show Staff Notation
        %button{"data-bind" => "css: {button_on:show_title},click: toggle_title_visible"} 
          Show Title
      %img.spinner{"alt" => 'spinner', "data-bind" => "visible: generating_staff_notation", "src" => "images/musical-notes-animated.gif", "width" => '50'}
    %div.staff_notation_div{"data-bind" => "visible: staff_notation_visible"}
      %img.staff_notation{"alt" => 'staff notation', "src" => 'images/none.jpg', "data-bind" => "attr: {src:staff_notation_url_with_time_stamp}"}
    %br
    %div.composition_headers{"data-bind" => "visible: show_title"}
      %h1.composition_title{"data-bind" => "text:title"}
      %h2.composition_author{"data-bind" => "text:author"}
    .composition_body{"data-bind" => "foreach: lines"}
      %div.rendered_html{"data-bind" => "html: rendered_in_html, click: edit,clickBubble:false, css: {editing:editing,not_editing:not_editing,line_has_warnings: line_has_warnings,line_parse_failed: line_parse_failed}"}
      %div.edit_line_wrapper.controls{"data-bind"=> "visible:editing, css: {line_has_warnings: line_has_warnings,line_parse_failed: line_parse_failed}"}
        %button{"data-bind" => "click: close_edit,clickBubble:false"} 
          Close
        %button{"data-bind" => "click: $parent.composition_insert_line,clickBubble:false"} 
          Insert
        %button{"data-bind" => "click: $parent.composition_append_line,clickBubble:false"} 
          Append
        %button{"data-bind" => "click: toggle_line_warnings_visible,clickBubble:false"} 
          Warnings
        %br
        %div.line_warnings_div{"data-bind" => "visible: 'line_warnings.length > 0'"}
          %pre{"data-bind" => "text: line_warnings,event:{dblclick:toggle_line_warnings_visible}"}
        %div.parse_tree_div{"data-bind" => "visible: parse_tree_visible"}
          %pre{"data-bind" => "text: parse_tree_text,event:{dblclick:toggle_parse_tree_visible}"}
        %textarea.entry_area{:spellcheck => "false",:rows => "6", :cols => "33", "data-bind" => "style: {width: $parent.composition_stave_width},css: {'line_has_warnings': line_has_warnings,'parse_failed': $data.parse_failed},visible: editing(), value: source, event: { keypress: handle_key_press, blur: handle_blur}, valueUpdate: 'afterkeydown'"}
  %br
  %br
  %button.controls{"data-bind" => "click: add_line, enable: title() !=='' "} New Line
