.liveExample
  %div.controls
    %p
      Locally saved compositions:
      %select{"data-bind" => "options: available_compositions, optionsText: 'title', value: selected_composition, optionsCaption: 'Open',click: composition_select"}
        %option{:value => ""} Open
        %option{:value => ""}
      %button{"data-bind" => "click: save_locally, enable: lines().length > 0"} Save locally
      %button{"data-bind" => "click: new_composition"}
        New Composition
      %button{"data-bind" => "css: {button_on:open_file_visible},click: toggle_open_file_visible"} 
        Open File     
      %div.open_file_div{"data-bind" => 'visible:open_file_visible'}
        %label Open:
        %input#file{:name => "files[]", :type => "file"}
  %fieldset.controls#composition_info
    %legend#composition_info_legend{"data-bind" => "click: toggle_composition_info_visible"}
      Composition Info(Click to hide/show)
    #composition_info_content{"data-bind" => "visible: composition_info_visible", :style => ""}
      %p
        Raga:
        %input{"data-bind" => "value: raga"}/
      %p
        Key:
        %select{"data-bind" => "options: keys, value: key"}
      %p
        Mode:
        %select{"data-bind" => "options: modes, value: mode"}
      %p
        Title:
        %input{"data-bind" => "value: title"}/
      %p
        Author:
        %input{"data-bind" => "value: author"}/
      %p
        Source:
        %input{"data-bind" => "value: source"}/
      %p
        Time Signature:
        %input{"data-bind" => "value: time_signature"}/
      %p
        ID#:
        %span{"data-bind" => "text: id"} 
      %p
        %button{"data-bind" => "css: {button_on:doremi_script_source_visible},click: toggle_doremi_script_source_visible"} 
          DoremiScript Source
        %button{"data-bind" => "visible: doremi_script_source_visible,click: refresh_doremi_script_source"} 
          Refresh
        %div.doremi_script_source_div.like_pre{"data-bind" => "text: doremi_script_source,visible: doremi_script_source_visible,event:{dblclick:toggle_doremi_script_source_visible}"}
      %p
        %button{"data-bind" => "css: {button_on:parsed_doremi_script_visible},click: toggle_parsed_doremi_script_visible"} 
          Parsed DoremiScript
        %button{"data-bind" => "visible: parsed_doremi_script_visible,click: refresh_parsed_doremi_script"} 
          Refresh
        %div.parsed_doremi_script_div.like_pre{"data-bind" => "text: composition_parsed_doremi_script,visible: parsed_doremi_script_visible,event:{dblclick:toggle_parsed_doremi_script_visible}"}
      %p
        %button{"data-bind" => "css: {button_on:composition_lilypond_source_visible},click: toggle_composition_lilypond_source_visible"} 
          Lilypond source
        %button{"data-bind" => "visible: composition_lilypond_source_visible,click: refresh_composition_lilypond_source"} 
          Refresh 
        %div.composition_lilypond_source_div.like_pre{"data-bind" => "visible: composition_lilypond_source_visible,text: composition_lilypond_source,event:{dblclick:toggle_composition_lilypond_source_visible}"}
  %br
  .composition
    %div.controls
      %div.composition_controls
        %button{"data-bind" => "disable: generating_staff_notation,click: generate_staff_notation"}
          Generate staff notation
        %button{"data-bind" => "css: {button_on:staff_notation_visible},click: toggle_staff_notation_visible"} 
          Show Staff Notation
      %img.spinner{"data-bind" => "visible: generating_staff_notation", "src" => "/images/musical-notes-animated.gif", "width" => '50px'}
    %div.staff_notation_div{"data-bind" => "visible: staff_notation_visible"}
      %img.staff_notation{"data-bind" => "attr: {src:staff_notation_url_with_time_stamp}"}
    %br
    %br
    .composition_body{"data-bind" => "foreach: lines"}
      %div.line_wrapper{"tabindex" => "0", "data-bind" => "attr: { id: line_wrapper_id()},click: line_wrapper_click "}
        %div.rendered_html{"data-bind" => "visible: !editing(),html: rendered_in_html, click: edit,clickBubble:false"}
        %div.edit_line_wrapper{"data-bind"=> "visible:editing"}
          %button{"data-bind" => "css: {button_on:parse_tree_visible},click: toggle_parse_tree_visible"} 
            Show/Hide Parse Tree
          %button{"data-bind" => "click: close_edit,clickBubble:false"} 
            Close
          %button{"data-bind" => "click: $parent.composition_insert_line,clickBubble:false"} 
            Insert
          %button{"data-bind" => "click: $parent.composition_append_line,clickBubble:false"} 
            Append
          %br
          %div.parse_tree_div{"data-bind" => "visible: parse_tree_visible"}
            %pre{"data-bind" => "text: parse_tree_text,event:{dblclick:toggle_parse_tree_visible}"}
          %textarea.entry_area{:cols => "33", "data-bind" => "style: {height:stave_height,width: $parent.composition_stave_width},css: {'parse_failed': $data.parse_failed},visible: editing(), value: source, event: { keypress: handle_key_press, blur: handle_blur}, valueUpdate: 'afterkeydown'", :rows => "3"}
  %br
  %br
  %button.controls{"data-bind" => "click: add_line"} New Line
