.liveExample
  %p
    Locally saved compositions:
    %select{"data-bind" => "options: availableCountries, optionsText: 'countryName', value: selectedCountry, optionsCaption: 'Open'"}
      %option{:value => ""} Open
      %option{:value => ""}
  %fieldset#composition_info
    %legend#composition_info_legend{"data-bind" => "click: toggle_composition_info_visibility"}
      Composition Info(Click to hide/show)
    #composition_info_content{"data-bind" => "visible: composition_info_visible", :style => ""}
      %p
        Raga:
        %input{"data-bind" => "value: raga"}/
      %p
        Key:
        %select{"data-bind" => "options: keys, value: key"}
      %p
        Mode:
        %select{"data-bind" => "options: modes, value: mode"}
      %p
        Title:
        %input{"data-bind" => "value: title"}/
      %p
        Author:
        %input{"data-bind" => "value: author"}/
      %p
        Source:
        %input{"data-bind" => "value: source"}/
      %p
        Time Signature:
        %input{"data-bind" => "value: time_signature"}/
      %p
        ID#:
        %span{"data-bind" => "text: id"} 
  %br
  .composition
    .composition_body{"data-bind" => "foreach: lines"}
      %div.line_wrapper{"tabindex" => "0", "data-bind" => "attr: { id: line_wrapper_id()},event: { dblclick: edit }"}
        %div.rendered_html{"data-bind" => "visible: !editing(),html: rendered_in_html"}
        %textarea.entry_area{:cols => "33", "data-bind" => "css: {'parse_failed': $data.parse_failed},visible: editing(), hasfocus: editing, value: source, event: { keypress: handle_key_press, blur: handle_blur}, valueUpdate: 'afterkeydown'", :rows => "3"}
  %br
  %br
  %button{"data-bind" => "click: addLine"} New Line
  %button{"data-bind" => "click: save, enable: lines().length > 0"} Save to JSON
  %button{"data-bind" => "click: save_locally, enable: lines().length > 0"} Save locally
  %br
  %br
  %br/
  %textarea{:cols => "60", "data-bind" => "value: lastSavedJson", :disabled => "disabled", :rows => "5"}
