%pre{:style => "font-size:15px;font-family:monospace;border:1px solid black;display:inline-block"}
  :preserve
    Key: D
    Mode: ionian
    Author: Anon
    TimeSignature: 4/4
    
    Happy birthday to you
    Happy birthday to you
    Happy birthday dear Jim
    Happy birthday to you
    And ma-ny more
    
    |  P-P | D P S | N  -- PP |
       * *   * *     *     **
    
    
    | D P R | S - PP |
      * *         **        
    
    
                SN       
                 *     
    | P G S | (N   D) mm |
               *   *    
    
          &lt;GR&gt;             DSnDn
                           * ***
    | G S R   | S -P DP | n - - 
                   * **   *
    
%img{:src => "images/arrow.png"}
%img{:src => "images/happy.png", :style => "border:1px solid black"}
%br
%img{:src => "images/down_arrow.png"}
%br
%img{:src => "images/happy_birthday.jpg", :style => "border:1px solid black"}
%br
%h2
  Also lilypond and musicxml export
%h2
  Also supports
  %em C C# D
  %em 1 1# 2
  and devanagri
