!!! 5
%html
  %head
    %meta{"charset" => "UTF-8"}
    %title{"data-bind" => "text: title"}
    %link{:href => "css/application.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/styles.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/doremi.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "css/jquery.contextMenu.css", :rel => "stylesheet", :type => "text/css"}
  %body
    = render_file('body.haml')
    <span class="note testing_utf_support" id="utf_left_repeat" style="display: none; ">&#x1d106;</span>
    <span id="utf_single_barline" class="note testing_utf_support" style="display: none; ">&#x1d100;</span>
    %script{:src => "js/knockout-2.0.0.debug.js", :type => "text/javascript"}
    %script{:src => "js/jquery-1.7.1.min.js", :type => "text/javascript"}
    %script{:src => "js/jquery.contextMenu.js", :type => "text/javascript"}
    %script{:src => "js/jquery.scrollTo.js", :type => "text/javascript"}
    %script{:src => "js/select_range.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/third_party/jquery.autogrow-textarea.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/third_party/underscore.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/underscore.logger.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/shims.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/all_items.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/shared.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/third_party/fraction.js", :type => "text/javascript"}
    %script{:src => "js/downloadify/downloadify.min.js", :type => "text/javascript"}
    %script{:src => "js/downloadify/swfobject.js", :type => "text/javascript"}
    <script type="text/javascript">
    // Hack part 1- to make Hypher.js work in the browser.
    window.module= {exports:[]}
    </script>
    %script{:src => "js/from_doremi_script_base/third_party/hypher/hypher.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/third_party/hyphenation_patterns/en-us.js", :type => "text/javascript"}
    <script type="text/javascript">
    // Hack part 2 to make Hypher.js work in the browser
    window.english=window.module.exports 
    window.module=undefined;
    </script>
    %script{:src => "js/from_doremi_script_base/tree_iterators.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/parser_helper.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/to_lilypond.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/to_musicxml.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/doremi_script_parser.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/doremi_script_line_parser.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/dom_fixer.js", :type => "text/javascript"}
    %script{:src => "js/from_doremi_script_base/html_renderer.js", :type => "text/javascript"}
    / stash css and javascript here when necessary to generate a standalone page.
    %script#application_for_html_doc{:type => "text/html"}
    %script#styles_for_html_doc{:type => "text/html"}
    %script#doremi_for_html_doc{:type => "text/html"}
    %script#zepto_for_html_doc{:type => "text/html"}
    %script#dom_fixer_for_html_doc{:type => "text/html"}
    %script#testing_utf_support{:type => "text/html"}
    %script{:src => "js/line_view_model.js", :type => "text/javascript"}
    %script{:src => "js/composition_view_model.js", :type => "text/javascript"}
    %script{:src => "js/application.js", :type => "text/javascript"}
    %script{:id => 'help-tpl', :type => 'text/html'}
      = render_file('readme_body.haml')

