.liveExample
  %p
    Raga: 
    %input{"data-bind" => "value: raga"}
  %p
    Key: 
    %select{"data-bind" => "options: keys, value: key"}
  %p
    Mode: 
    %select{"data-bind" => "options: modes, value: mode"}
  %p
    Title:
    %input{"data-bind" => "value: title"}
  %p
    Author:
    %input{"data-bind" => "value: author"}
  %p
    Source:
    %input{"data-bind" => "value: source"}
  %p
    Time:
    %input{"data-bind" => "value: time"}
  %h2 Lines
  #linesList
    %table.linesEditor
      %tr
        %th Source
        %th Rendered in html
        %th Actions
      %tbody{"data-bind" => "foreach: lines"}
        %tr
          %td
            %textarea.entry_area{:cols => "33", :rows => "3", "data-bind" => "value: source, event: { keypress: handle_key_press}, valueUpdate: 'afterkeydown'"}
          %td
            %div.rendered_doremi_script{"data-bind" => "html: rendered_in_html"}
          %td
            %div
              %a{"data-bind" => "click: $root.removeLine", :href => "#"} Delete
  %p
    %button{"data-bind" => "click: addLine"} New Line
    %button{"data-bind" => "click: save, enable: lines().length > 0"} Save to JSON
  %textarea{:cols => "60", "data-bind" => "value: lastSavedJson", :disabled => "disabled", :rows => "5"} 
